<h1>Create Resume</h1>

<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages' %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :age %><br />
    <%= f.text_field :age %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :file_type, "file type" %><br />
    <%= f.text_field :file_type %>
  </div>
  <div class="actions">
    <%= f.submit "Create Resume" %>
  </div>
<% end %>
